 * {
 			margin: 0px;
  			padding: 0px;
  			-webkit-box-sizing: border-box;
  			box-sizing: border-box;
}

body {
  			width: 100%;
  			font-family: "Montserrat", sans-serif;
			background: white;
}

#wrapper{
			 max-width: 100%;
 			 margin: 0;
  			 overflow: auto;
}
nav{
			color: white;
   			background: #4184f4;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
}

nav div{	font-size: 20px;
			margin: 10px 15px;
}
i{
			color: white;
}
.content{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
} 
.content aside:nth-of-type(2){
			width: 600px; 
}
.content aside p{
			font-size: 22px;
			color: #343536;
			font-kerning: none;
			margin-top: 20px;
}
img[src="ss2.jpg"]{
			margin-top: 20px;
			border-top: 2px solid black;
			width:100%;
}
img[src="android.png"]{
			width: 100%	
}
.content:nth-of-type(3){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap; 
			align-content: flex-start;
}
.content:nth-of-type(3) div:nth-of-type(1){
			margin-top: 20px;
			width:20%;
}
footer{
			color: white;
   			background: #4184f4;
   			padding: 5px;
   			text-align: center;
}
@media screen and (max-width: 880px){
			.content aside p{
				text-align: center;
			}
}